RA Test
Data/monetary-policy-surprises.zip
Data/nfa_gdp_data.csv
MIT-Coding-Challenge-main.zip
References/S0304407623003500.bib

# LaTeX auxiliary files
*.aux
*.log
*.out
*.ttt
*.fff
*.toc
*.bbl
*.blg
*.synctex.gz

# OS files
.DS_Store
**/.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
.venv
*.egg-info/