RA Test
Data/monetary-policy-surprises.zip
Data/nfa_gdp_data.csv

References/S0304407623003500.bib
Output/writeup_v2.ttt
Output/writeup_v2.toc
Output/writeup_v2.out
Output/writeup_v2.log
Output/writeup_v2.fff
Output/writeup_v2.aux